<ajaxControlToolkit>
  <controlBundles>
    <controlBundle name="CalendarBundle">
      <control name="CalendarExtender"></control>
    </controlBundle>
    <controlBundle name="CollapsibleBundle">
      <control name="CollapsiblePanelExtender"></control>
    </controlBundle>
    <controlBundle name="ModalPopupBundle">
      <control name="ModalPopupExtender"></control>
    </controlBundle>
    <controlBundle name="CascadingBundle">
      <control name="CascadingDropDown"></control>
    </controlBundle>
    <controlBundle name="AutoCompleteBundle">
      <control name="AutoCompleteExtender"></control>
    </controlBundle>
    <controlBundle name="AjaxFileUploadBundle">
      <control name="AsyncFileUpload"></control>
    </controlBundle>
    <controlBundle name="AjaxFileUploadBundle2">
      <control name="AjaxFileUpload"></control>
    </controlBundle>
    <controlBundle name="UpdatePanelAnimationExtenderBundle">
      <control name="UpdatePanelAnimationExtender"></control>
    </controlBundle>
    <controlBundle name="ColorPickerBundle">
      <control name="ColorPickerExtender"></control>
    </controlBundle>
    <controlBundle name="MaskedTextBoxBundle">
      <control name="MaskedEditExtender"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>